.detail-wrapper{
    width: max-content;
    display: flex;
    flex-direction: column;
}

.detail-header{
    margin: auto;
    width: 100%;
    color: rgb(92, 164, 92);
}

.detail-container{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

span{
    width: 100%;
    margin: 5px auto;
}

img{
    width: 50px;
    height: 50px;
}

.logo-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}